task4.trello/Trello/Trello/obj/Debug/netcoreapp2.1/Trello.csproj.CoreCompileInputs.cache
task4.trello/Trello/Trello/obj/Debug/netcoreapp2.1/Trello.csprojAssemblyReference.cache
task4.trello/Trello/Trello.BLL/obj/Debug/netcoreapp2.1/Trello.BLL.csprojAssemblyReference.cache
