body
{
  margin: 0 367px 0 384px;
  font-family: 'Fjalla One';
  color: #acacac;
}

.header
{
}

.headerhr
{
  width: 100%;
  height: 5px;
  align-content: center;
  background-color: #5c5c5c;
  border:none;
}

.hr
{
  background-color: #acacac;
  width: 100%;
  height: 1px;
  align-content: center;
  border:none;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center; 
  justify-content: space-between;
}


.navbutton {
  text-decoration: none;    
  border-radius: 3px;
  margin: 0 24px 0 0;
  color: #acacac;
  font-size: 14px;
  padding: 15px;
}

  .navbutton:hover,
  .navbutton:active{    
  background: #e24f43;
  color: white;
  border-color: #e24f43;
  }

  .nav_a
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }

  .div_mainimg
{
  background-image: url(../img/main.png);
  background-size: cover;
  width: 100%;
  height: 425px;
  position:relative;
}

.div1_mainimg
{
  width: 50%;
  height: 212.5px;
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(0,0,0,.3);
}

.div2_mainimg
{
  width: 50%;
  height: 212.5px;
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(0,0,0,.3);
}

.div3_mainimg
{
  width: 50%;
  height: 212.5px;
  position:absolute;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,.3);
}

.div4_mainimg
{
  width: 50%;
  height: 212.5px;
  position:absolute;
  bottom:0;
  right:0;
  background-color:rgba(0,0,0,.3);
}

.div1_mainimg:hover,
.div2_mainimg:hover,
.div3_mainimg:hover,
.div4_mainimg:hover
{
  background-color:rgba(0,0,0,.7);
}

.divs_img
{
  width: 100%;
  height: 350px;
  position:relative;
  display: flex;
  margin: 5% 0;
}

.divs_img div 
{
  display: inline-flex;
  height: 135px;
}

.div1_img
{
  width: 50%;
  height: 100px;
  position:absolute;
  top:0;
  left:0;
}

.div2_img
{
  width: 50%;
  height: 100px;
  position:absolute;
  top:0;
  right:0;
}

.div3_img
{
  width: 50%;
  height: 100px;
  position:absolute;
  bottom:0;
  left:0;
}

.div4_img
{
  width: 50%;
  height: 100px;
  position:absolute;
  bottom:0;
  right:0;
}

.div_content
{
  display: flex;
  flex-direction: column;
}

.a_mainimg 
{
  position:absolute;
  bottom:0;
  left:0;
  background: #000000;
  color: white;  
  border-radius: 3px;
  text-decoration: none;
  padding: 10px;
}

.a_mainimg:hover
{
  background: #e24f43;
}

  .logo_p
  {
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      color: #5c5c5c;
      margin-bottom:-0.5%; 
  }

  .small_logo_p
  {
    font-size: 12px;
    font-weight: 400;
  }

  .small_p
  {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .p{
    font-size: 20px;
    font-weight: 400;
    color: #5c5c5c;
    text-transform: uppercase;
    margin-bottom: -1%;
  }

.div_content
{
margin: 0 20px;
}

  .content_p
  {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    line-height: 24px;
  }

  .card
  {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    width:270px;
    height: 458px;
    border-radius: 2px;
  }

  .cards{
margin: 5% 0;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 2px;
  }

  .container
  {
    padding: 15px 30px 30px 30px;
  }

  .card_button
  {
    background: #e24f43;
    color: white;
    border: none;
    padding: 10px;    
    border-radius: 3px;
    font-family: 'Fjalla One';
  }

  .footer
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_div
  {
    width:270px;
  }

  
.social_div {
  display: inline-block;
  }


.social_a
{
  text-decoration: none;      
  color: #acacac;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form
{
  background-color: #5c5c5c;
  border-radius: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_p
{
  font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
}

.div_form
{
  margin: 0 25px;
}

.form_input
{
  background-color: #ffffff;
  color: #acacac;
  font-family: 'Source Sans Pro';
  height: 35px;
  width: 330px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  margin-right: 15px;
  padding-left:10px; 
}

.form_submit
{
  background: #e24f43;
    color: white;
    border: none;
    padding: 10px 25px;
    height: 40px;    
    border-radius: 3px;
    font-family: 'Fjalla One';
    font-size: 18px;
    margin-right: 30px;
}


.a_arrow {
background-color: #e24f43;
width: 200px;
border-radius: 4px;
text-decoration: none; 
padding: 20px;
}


.arrow
{     
color: #ffffff;
display: inline-block;
}

.p_arrow
{
  font-size: 20px;
}

.div_second
{
  width: 100%;
  display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

